div(class=wrapperClass)
    div(class=personWrapperClass)
        span=personTitle
    div(class=bottomWrapperClass)
        label(class=dateLabelClass)=dateTitle
            input(class=dateInputClass, type="date", min=today, value=today)
        label(class=taskLengthLabelClass)=taskLengthTitle
            input(class=taskLengthInputClass, type="number", min=1)
    button(class=saveButtonClass)=saveButtonTitle