div.implicit-task
    //- creating title
    div(class="#{title.wrapper.className}")
    //- creating departments and teams
    div(class="#{dAt.wrapper.className}")
        span.head
            | Department and Team:
    //- creating buddy departments and teams
    div(class="#{bDaT.wrapper.className}")
        span.head
            | Buddy department and Team:
    //- creating start
    div(class="#{start.wrapper.className}")
        span.head
            | Task starts:
        input(class="#{start.data.className}", type='number', min='0')
    //- creating length
    div(class="#{length.wrapper.className}")
        span.head
            | Task length(days):
        input(class="#{length.data.className}", type='number', min='0')
    //- creating add button
    div(class="#{save.wrapper.className}")
        span.head
        button(class="button save")
            | Add