div(class=taskWrapperClass)
	div(class=headerWrapperClass)
		span(class=buddyLabelClass)=buddy 
		span(class="task-label")=title
		span(class="time-label")=taskDate
	div(class="description-wrapper")
		p(class="description-paragraph")=description
	div(class=notesWrapperClass)
	div(class=footerWrapperClass)
