div(class=taskWrapperClass)
	div.top-div
		div(class=headerWrapperClass)
			div.title-div
				span.task-label=title
				a.buddy(href="mailto:" + buddy)=buddy
			div(class=deadlineInfoWrapper)
		div.description-wrapper
			p=description
	div.bottom-div
		div(class=notesWrapperClass)
		div(class=footerWrapperClass)
		div(class=footerWrapperClass2)
