div.edit-user
    div.user-info-wrapper
        label="Name:"
        input.input-name(type="text")
        br
        label="Surname:"
        input.input-surname(type="text")
        br
        label="Email"
        input.input-email(type="email")
        div.user-role-wrapper
        div.buddy-select-wrapper
    div.team-wrapper
    div.new-team-wrapper
    div.buttons-wrapper
        button.button-save='Save'
        button.button-cancel='Cancel'