div(class=wrapperClass)
    div(class=userInfoWrapper)
        label="Name:"
        input(class=inputName, type="text")
        br
        label="Surname:"
        input(class=inputSurname, type="text")
        br
        label="Email"
        input(class=inputEmail, type="email")
        div(class=userRoleWrapper)
        div(class=buddySelectWrapper)
    div(class=teamWrapper)
    div(class=buttonDiv)
        button(class=buttonSave)='Save'
        button(class=buttonCancel)='Cancel'