div.add-implicit-task
	div(class=contentSwitcherDiv)
	div(class=selectorsDiv)
	div.bottom-wrapper
		label.start-label="Task starts at: "
			input(class=startInputClass, type="number", min=1)
		label.task-length-label="Task length (days): "
			input(class=taskLengthInputClass, type="number", min=1)
	button(class=saveButtonClass)="Save"